JSIGHT 0.3

GET /users // Viewing a list of users

  Query htmlFormEncoded
    {
      "page": 1, // {optional: true} - page number, default 0
      "perPage": 20, // {optional: true} - the number of users per page, by default 20
      "filter": { // {optional: true}
        "name": "John" // {maxLength: 100}
      }
    }


