JSIGHT 0.3

TYPE @cat0 empty
TYPE @cat1 empty // annotation # comment
TYPE @cat2 "empty"
TYPE @cat3 "empty" // annotation
TYPE @cat4 "empty" # comment
TYPE @cat5 "empty" // annotation with # comment

TYPE @dog0 any
TYPE @dog1 any // comment
TYPE @dog2 "any"
TYPE @dog3 "any" // annotation
TYPE @dog4 "any" # comment
TYPE @dog5 "any" // annotation with # comment

GET /
