JSIGHT 0.3

POST /cats // Create a new cat.
    
GET /cats/{id} // Get a cat.
    
PUT /cats/{id} // Update the whole cat.
    
PATCH /cats/{id} // Change the status of the cat.

DELETE /cats/{id} // Remove the cat.
    
