JSIGHT 0.3

URL /users

    GET /users/{id}
        200
            {
                "id": 121,
                "name": "John Smith"
            }

    POST /users/{id}
        Request
            {
                "id": 121,
                "name": "John Smith"
            }
        200
            {
                "id": 121,
                "name": "John Smith"
            }


