JSIGHT 0.3

POST /users // Create a user

  Request @user

  201 @user // Successfully created

  401 any # Authorization token failed

  422
    {
      "validation": [
        {
          "field": "id",
          "error": "required"
        },
        {
          "field": "salary",
          "error": "must be a number"
        }
      ]
    }

  500 any # Server error

TYPE @user
  {
    "id": 121, // user id
    "name": "John Smith", // user name
    "salary": 220.23, // {type: "decimal", precision: 2, optional: true} - user's salary
    "photo": "http://photo.ru/img/2312311.jpg" // {type: "uri", optional: true} - link to the user's avatar
  }



