Description
  Super puper duper resource
  can get, post, put, patch, delete 1

Description # comment after Description
  Super puper duper resource
  can get, post, put, patch, delete 2

Description
  Super puper duper resource
  can get, post, put, patch, delete 3

Description  # comment after Description explanation
###
comment block
###
  Super puper duper resource
  can get, post, put, patch, delete 4