JSIGHT 0.3

MACRO @common_headers
(
    Headers
        {
            "Authorization": "Basic dG9tQGNhdC5jb206YWJjMTIz=", // {regex: "Basic [A-Za-z0-9+\/=]+"}
            "Content-Type": "application/json"                  // {const: true}
        }
)

PASTE @common_headers
