JSIGHT 0.3

INFO                        # comment
  Title "#Catsbook API#"    # comment
  Version 1.0               # comment
  Description               # comment
    The social network API
    for cats Catsbook.

GET /users                  # comment
