JSIGHT 0.3

TYPE @user
  {
    "id": 121, // user id
    "name": "John Smith", // user name
    "salary": 220.23, // {type: "decimal", precision: 2, optional: true} - user's salary
    "photo": "http://photo.ru/img/2312311.jpg", // {type: "uri", optional: true} - link to the user's avatar
    "position": "manager" // {enum: ["manager", "tester", "developer", "teamlead", "CEO"]}
  }

URL /users

  GET /users/{id} // Get user data by his ID
    200 @user

  POST /users/{id} // Change user data with a specific id
    Request @user
    200 @user

