GET
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

POST
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

PUT
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

PATCH
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

DELETE
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst
