JSIGHT 0.3

URL /api/rpc
  Protocol json-rpc-2.0

  Method createCat
    Params
      {
        "catName": "Tom"
      }
    Result
      {
        "id": 1
      }

  Protocol json-rpc-2.0 # ERROR: directive is duplicated