JSIGHT 0.3

TYPE @user
  {
    "id": 1,
    "name": "John",
    "type": "user",
    "salary": 1.5
  }
  
#TYPE @profile
#  {
#    "sex": "male", // {enum: ["male", "female"]}
#    "age": 20
#  }
  
URL /users
  GET

