JSIGHT 0.3

TYPE @checkExpandAllForOr
{
  "or": "or" /* {or: [
                  {type: "string"},
                  {type: "boolean"},
                  {type: "integer"},
                  {type: "float"},
                  {type: "object"},
                  {type: "array"},
                  {type: "decimal", precision: 1}
                ]}
            */
}
