JSIGHT 0.3

URL /users/{id}/posts/{postId}

  GET /users/{id}/posts/{postId}/attachments // ex: get attachments for posts

URL /users/{id}/posts/{postId}/stickers

    GET
    POST

    GET /users/{id}/posts/{postId}/stickers/{sticker:id}

URL /files

  GET // ex: view files
