JSIGHT 0.3

TYPE @testRuleOrStandardTypes
  {
    "key1": "value1" // {or: [ "any", "array", "boolean", "date", "datetime", "email", "float", "integer", "null", "object", "string", "uri", "uuid"]}
  }
