JSIGHT 0.3

TYPE @testShortRecursion
{
  "testShortRecursion": @testShortRecursion, // {optional: true}
  "testLongRecursion" : @testLongRecursion,
  "testBothRecursions": @testShortRecursion | @testLongRecursion
}

TYPE @testLongRecursion
{
  "testShortRecursion": @testShortRecursion // {optional: true}
}
