JSIGHT 0.3

TYPE @cat // A cat.
{
  "topFriends": { // {additionalProperties: true}
    @petName: @cat | @pig
  }
}

TYPE @pig
	{
		"name": "Tom"
	}

TYPE @petName regex
  /^[A-Z][a-z]*( [A-Z][a-z]*)*$/
