JSIGHT 0.3

TYPE @testShortRecursion
{
  "testShortRecursion": @testShortRecursion,
  "testLongRecursion" : @testLongRecursion,
  "testBothRecursions": @testShortRecursion | @testLongRecursion
}

TYPE @testLongRecursion
{
  "testShortRecursion": @testShortRecursion
}
