JSIGHT 0.3

TYPE @animalType jsight
  "cat" /*
            {enum: [
              "cat", // The cat
              "dog", // The dog
              "pig", // The pig
              "frog" // The frog
            ]}
        */
