JSIGHT 0.3

GET /cats

  Description # comment

  (
    # Header 1
    ## Header 2
    ### Header3

    * list item 1
    * list item 2

    (some text)

    GET /
    POST /
    DELETE /

    (some text)
    ((some text))
    {some text}
    [some text]
  )

