JSIGHT 0.3

GET /cats

  Description
  (
    With this method
    you can get a list of
    cats (and female cats
  ), that are registered         --ERROR!!! The paranthesis will be perceived as the BODY completion
    on the Catsbook.
  )

  200 any