Query
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query # comment for Query
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query ClassicPHP
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query ClassicPHP # comment for Query
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query //
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query // # comment for Query
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query ClassicPHP //
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query ClassicPHP // # comment for Query
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query // query explanation
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query // query explanation # comment for Query
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

Query // query explanation # comment for Query
###
comment block
###
  {
    "type": "user", // {enum: ["user", "admin"]}
    "minAge": 20
  }

