JSIGHT 0.3

GET /admin
    200
        { // {allOf: "@user"}
            "status": "admin" # ERROR: the "status" property is defined twice
        }

TYPE @user
    {
        "id": 1,
        "name": "Max",
        "status": "admin"
    }
