JSIGHT 0.3

GET /admin
    Request
        {
            "data": { // {allOf: ["@user", "@item"]}
                "status": "admin"
            }
        }

TYPE @user
    {
        "name": "Max"
    }

TYPE @item
    {
        "id": 1
    }