JSIGHT 0.3

POST /cats

    Request

        Headers
        {
            "Content-Type": "application/json"
        }

        Body
            {
                "id" : 2,
                "name" : "Tom"
            }
