JSIGHT 0.3

GET /users/{id}

  Path
    {
      "id": 12 // {min: 1} - user ID
    }

  200
    {
      "id": 121,
      "name": "John Smith",
      "salary": 550,
      "photo": "http://photo.ru/img/2312311.jpg"
    }

