JSIGHT 0.3

GET /cats
    200
        Headers
        {
            "X-Header": {
                "header-property": 123
            }
        }

        Body
        {
            "id": 4,
            "name": "Kittys",
            "Extra": {
                "body-property": 123
            }
        }
