DELETE /users

DELETE /users # comment

DELETE /users //

DELETE /users // # comment

DELETE /api/users

DELETE /api/users # comment

DELETE /api/users //

DELETE /api/users // # comment

DELETE /api

DELETE /api # comment

DELETE /api //

DELETE /api // #comment

DELETE

DELETE # comment

DELETE //

DELETE // #comment