GET /users

GET /users # comment

GET /users //

GET /users // # comment

GET /users // explanation for get

GET /users // explanation for get # comment

GET /api/users

GET /api/users # comment

GET /api/users //

GET /api/users // # comment

GET /api/users // explanation for get

GET /api/users // explanation for get # comment

GET /api

GET /api # comment

GET /api //

GET /api // #comment

GET /api // explanation for get

GET /api // explanation for get #comment

GET

GET # comment

GET //

GET // #comment

GET // explanation for get

GET // explanation for get  #comment

GET /

GET / 
GET / // explanation

GET / # comment