PUT /users

PUT /users # comment

PUT /users //

PUT /users // # comment

PUT /api/users

PUT /api/users # comment

PUT /api/users //

PUT /api/users // # comment

PUT /api

PUT /api # comment

PUT /api //

PUT /api // #comment

PUT

PUT # comment

PUT //

PUT // #comment