GET /get
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

GET /get/{id}
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst
    INCLUDE http_methods/path.jst

POST /post
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

POST /post/{id}
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst
    INCLUDE http_methods/path.jst

PUT /put
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

PUT /put/{id}
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst
    INCLUDE http_methods/path.jst

PATCH /patch
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

PATCH /patch/{id}
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst
    INCLUDE http_methods/path.jst

DELETE /delete
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst

DELETE /delete/{id}
    INCLUDE http_methods/description.jst
    INCLUDE http_methods/request.jst
    INCLUDE http_methods/responses.jst
    INCLUDE http_methods/query.jst
    INCLUDE http_methods/path.jst
