SERVER @CATS_API_SERVER // Server catsbook.com API # comment
  BaseUrl "https://{env}.catsbook.com/api/{version}/{locale}/"

SERVER @DOGS_API_SERVER // dog server
  BaseUrl "https://dogsbook.com/api/"

GET /mixins
    INCLUDE responses.jst

POST /mixins
    INCLUDE responses.jst
