Body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body # comment after body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body //
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body // # comment after empty annotation
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body // body-explanation
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body // body-explanation # comment after body explanation
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body // body-explanation # comment after body explanation
# comment before body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body jschema // body-explanation # comment after body explanation
# comment before body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body jschema // body-explanation # comment after body explanation
# comment before body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body jschema // body-explanation # comment after body explanation
# comment before body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body // body-explanation # comment after body explanation
# comment before body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

Body // body-explanation # comment after body explanation
# comment before body
[{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}]

Body jschema // body-explanation # comment after body explanation
# comment before body
[{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}]

Body jschema // body-explanation # comment after body explanation
  "some string" // {enum: ["some string", "other string"]}
 
Body // body-explanation # comment after body explanation
  "some string" // {enum: ["some string", "other string"]}