JSIGHT 0.3

POST /cats // Add a cat.
    200
        Body
            {
                "data": "abc" /* {
                    or: [
                        {type: "string" , maxLength: 3},
                        {type: "integer", min: 0}
                    ]
                } */
            }
