JSIGHT 0.3

POST /users // Create a user

  Request
    {
      "id": 121,
      "name": "John Smith",
      "salary": 550,
      "photo": "http://photo.ru/img/2312311.jpg",
      "surname": "ivanov"
    }


