JSIGHT 0.3

TYPE @pathVars1
    {
        "id": 1
    }

TYPE @pathVars2
    {
        "name": { # ERROR: object not allowed
            "string": "Tom"
        }
    }

GET /cats/{id}/{name}
    Path
        {} // {allOf: ["@pathVars1", "@pathVars2"]}
