JSIGHT 0.3

GET /cats/{id}/friends # The 'id' requirements apply, although they are described below.
    200 any

URL /cats/{id}
    Path
    {
        "id": 12 // {min: 0}
    }

    GET
        200 any