JSIGHT 0.3

INFO                        # comment
  ###
  MULTI COMMENT
  ###
  Title "Catsbook API"      # comment
  ###
  MULTI COMMENT
  ###
  Version 1.0               # comment
    ###
    MULTI COMMENT
    ###
  Description               # comment
    The social network API
    for cats Catsbook.

GET /users                  # comment
###
  MULTI COMMENT
  ###