200 jsight // body-explanation # comment after response explanation
# comment before body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male"
}

200 jsight // body-explanation # comment after response explanation
# comment before body
  "some string"

200 regex // body-explanation # comment after response explanation
    /[a-z]+/
