200
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

201 # comment
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

400 //
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

401 // # comment
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

422 // the explanation
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

500 // the explanation # comment
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

500 // the explanation # comment
# comment
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

200 // body-explanation # comment after response explanation
# comment before body
{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}

200 // body-explanation # comment after response explanation
# comment before body
[{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}]

200 jschema // body-explanation # comment after response explanation
# comment before body
[{
  "name": "John",
  "age": 25,
  "salary": 1.5,
  "sex": "male" // {enum: ["male", "female"]}
}]

200 jschema // body-explanation # comment after response explanation
  "some string" // {enum: ["some string", "other string"]}

200 // body-explanation # comment after response explanation
  "some string" // {enum: ["some string", "other string"]}
  
